@import "tailwindcss";

:root {
  --background: oklch(0.9777 0.0041 301.4256);
  --foreground: oklch(0.3651 0.0325 287.0807);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.3651 0.0325 287.0807);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.3651 0.0325 287.0807);
  --primary: oklch(0.6068 0.1076 301.6963);
  --primary-foreground: oklch(0.9777 0.0041 301.4256);
  --secondary: oklch(0.8957 0.0265 300.2416);
  --secondary-foreground: oklch(0.3651 0.0325 287.0807);
  --muted: oklch(0.8906 0.0139 299.7754);
  --muted-foreground: oklch(0.5288 0.0375 290.7895);
  --accent: oklch(0.7769 0.1042 1.2478);
  --accent-foreground: oklch(0.3394 0.0441 1.7583);
  --destructive: oklch(0.6288 0.1928 24.5810);
  --destructive-foreground: oklch(0.9777 0.0041 301.4256);
  --border: oklch(0.3651 0.0325 287.0807);
  --input: oklch(0.9329 0.0124 301.2783);
  --ring: oklch(0.6068 0.1076 301.6963);
  --chart-1: oklch(0.6068 0.1076 301.6963);
  --chart-2: oklch(0.7769 0.1042 1.2478);
  --chart-3: oklch(0.7321 0.0749 169.8670);
  --chart-4: oklch(0.8540 0.0882 76.8292);
  --chart-5: oklch(0.7857 0.0645 258.0839);
  --sidebar: oklch(0.9554 0.0082 301.3541);
  --sidebar-foreground: oklch(0.3651 0.0325 287.0807);
  --sidebar-primary: oklch(0.6068 0.1076 301.6963);
  --sidebar-primary-foreground: oklch(0.9777 0.0041 301.4256);
  --sidebar-accent: oklch(0.7769 0.1042 1.2478);
  --sidebar-accent-foreground: oklch(0.3394 0.0441 1.7583);
  --sidebar-border: oklch(0.8719 0.0198 302.1690);
  --sidebar-ring: oklch(0.6068 0.1076 301.6963);
  --font-sans: Aleo, ui-serif, serif;
  --font-serif: Amiri, ui-serif, serif;
  --font-mono: Fira Mono, ui-monospace, monospace;
  --radius: 0px;
  --shadow-2xs: 4px 4px 0px 0px hsl(243.1579 13.6691% 27.2549% / 0.50);
  --shadow-xs: 4px 4px 0px 0px hsl(243.1579 13.6691% 27.2549% / 0.50);
  --shadow-sm: 4px 4px 0px 0px hsl(243.1579 13.6691% 27.2549% / 1.00), 4px 1px 2px -1px hsl(243.1579 13.6691% 27.2549% / 1.00);
  --shadow: 4px 4px 0px 0px hsl(243.1579 13.6691% 27.2549% / 1.00), 4px 1px 2px -1px hsl(243.1579 13.6691% 27.2549% / 1.00);
  --shadow-md: 4px 4px 0px 0px hsl(243.1579 13.6691% 27.2549% / 1.00), 4px 2px 4px -1px hsl(243.1579 13.6691% 27.2549% / 1.00);
  --shadow-lg: 4px 4px 0px 0px hsl(243.1579 13.6691% 27.2549% / 1.00), 4px 4px 6px -1px hsl(243.1579 13.6691% 27.2549% / 1.00);
  --shadow-xl: 4px 4px 0px 0px hsl(243.1579 13.6691% 27.2549% / 1.00), 4px 8px 10px -1px hsl(243.1579 13.6691% 27.2549% / 1.00);
  --shadow-2xl: 4px 4px 0px 0px hsl(243.1579 13.6691% 27.2549% / 2.50);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2166 0.0215 292.8474);
  --foreground: oklch(0.9053 0.0245 293.5570);
  --card: oklch(0.2544 0.0301 292.7315);
  --card-foreground: oklch(0.9053 0.0245 293.5570);
  --popover: oklch(0.2544 0.0301 292.7315);
  --popover-foreground: oklch(0.9053 0.0245 293.5570);
  --primary: oklch(0.7450 0.0948 299.6335);
  --primary-foreground: oklch(0.2166 0.0215 292.8474);
  --secondary: oklch(0.4604 0.0472 295.5578);
  --secondary-foreground: oklch(0.9053 0.0245 293.5570);
  --muted: oklch(0.2560 0.0320 294.8380);
  --muted-foreground: oklch(0.6974 0.0282 300.0614);
  --accent: oklch(0.3181 0.0321 308.6149);
  --accent-foreground: oklch(0.8391 0.0692 2.6681);
  --destructive: oklch(0.6823 0.1710 22.7131);
  --destructive-foreground: oklch(0.2166 0.0215 292.8474);
  --border: oklch(0.9053 0.0245 293.5570);
  --input: oklch(0.2847 0.0346 291.2726);
  --ring: oklch(0.7450 0.0948 299.6335);
  --chart-1: oklch(0.7450 0.0948 299.6335);
  --chart-2: oklch(0.8391 0.0692 2.6681);
  --chart-3: oklch(0.7321 0.0749 169.8670);
  --chart-4: oklch(0.8540 0.0882 76.8292);
  --chart-5: oklch(0.7857 0.0645 258.0839);
  --sidebar: oklch(0.1985 0.0200 293.6639);
  --sidebar-foreground: oklch(0.9053 0.0245 293.5570);
  --sidebar-primary: oklch(0.7450 0.0948 299.6335);
  --sidebar-primary-foreground: oklch(0.2166 0.0215 292.8474);
  --sidebar-accent: oklch(0.3181 0.0321 308.6149);
  --sidebar-accent-foreground: oklch(0.8391 0.0692 2.6681);
  --sidebar-border: oklch(0.2847 0.0346 291.2726);
  --sidebar-ring: oklch(0.7450 0.0948 299.6335);
  --font-sans: Aleo, ui-serif, serif;
  --font-serif: Amiri, ui-serif, serif;
  --font-mono: Fira Mono, ui-monospace, monospace;
  --radius: 0px;
  --shadow-2xs: 4px 4px 0px 0px hsl(250.0000 36.0000% 90.1961% / 0.50);
  --shadow-xs: 4px 4px 0px 0px hsl(250.0000 36.0000% 90.1961% / 0.50);
  --shadow-sm: 4px 4px 0px 0px hsl(250.0000 36.0000% 90.1961% / 1.00), 4px 1px 2px -1px hsl(250.0000 36.0000% 90.1961% / 1.00);
  --shadow: 4px 4px 0px 0px hsl(250.0000 36.0000% 90.1961% / 1.00), 4px 1px 2px -1px hsl(250.0000 36.0000% 90.1961% / 1.00);
  --shadow-md: 4px 4px 0px 0px hsl(250.0000 36.0000% 90.1961% / 1.00), 4px 2px 4px -1px hsl(250.0000 36.0000% 90.1961% / 1.00);
  --shadow-lg: 4px 4px 0px 0px hsl(250.0000 36.0000% 90.1961% / 1.00), 4px 4px 6px -1px hsl(250.0000 36.0000% 90.1961% / 1.00);
  --shadow-xl: 4px 4px 0px 0px hsl(250.0000 36.0000% 90.1961% / 1.00), 4px 8px 10px -1px hsl(250.0000 36.0000% 90.1961% / 1.00);
  --shadow-2xl: 4px 4px 0px 0px hsl(250.0000 36.0000% 90.1961% / 2.50);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



@font-face {
  font-family: "circular-web";
  src: url("/fonts/circularweb-book.woff2") format("woff2");
}

@font-face {
  font-family: "general";
  src: url("/fonts/general.woff2") format("woff2");
}

@font-face {
  font-family: "robert-medium";
  src: url("/fonts/robert-medium.woff2") format("woff2");
}

@font-face {
  font-family: "robert-regular";
  src: url("/fonts/robert-regular.woff2") format("woff2");
}

@font-face {
  font-family: "zentry";
  src: url("/fonts/zentry-regular.woff2") format("woff2");
}

@utility border-hsla {
  border: 1px solid rgba(255, 255, 255, 0.2);
}

@utility nav-hover-btn {
  position: relative;
  margin-left: 2.5rem;
  font-family: "general";
  font-size: 0.75rem;
  line-height: 1rem;
  text-transform: uppercase;
  color: #eff6ff;
  cursor: pointer;
  
  &::after {
    content: "";
    position: absolute;
    bottom: -0.125rem;
    left: 0;
    height: 2px;
    width: 100%;
    transform-origin: bottom right;
    transform: scaleX(0);
    background-color: #262626;
    transition: transform 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
  }
  
  &:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
  }
  
  @media (prefers-color-scheme: dark) {
    &::after {
      background-color: white;
    }
  }
}

@utility floating-nav {
  background-color: black;
  border-radius: 0.5rem;
  border: 1px solid;
}

@utility absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@utility flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@utility mask-clip-path {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

@utility special-font {
  & b {
    font-family: "Zentry";
    font-feature-settings: "ss01" on;
  }
}

@utility hero-heading {
  text-transform: uppercase;
  font-family: "zentry";
  font-weight: 900;
  font-size: 3rem;
  line-height: 1;
  
  @media (min-width: 640px) {
    right: 2.5rem;
    font-size: 4.5rem;
    line-height: 1;
  }
  
  @media (min-width: 768px) {
    font-size: 8rem;
    line-height: 1;
  }
  
  @media (min-width: 1024px) {
    font-size: 12rem;
    line-height: 1;
  }
}

@utility about-subtext {
  position: absolute;
  bottom: -80dvh;
  left: 50%;
  width: 100%;
  max-width: 24rem;
  transform: translateX(-50%);
  text-align: center;
  font-family: "circular-web";
  font-size: 1.125rem;
  line-height: 1.75rem;
  
  @media (min-width: 768px) {
    max-width: 34rem;
  }
}

@utility about-image {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 20;
  height: 60vh;
  width: 24rem;
  transform-origin: center;
  transform: translateX(-50%);
  overflow: hidden;
  border-radius: 1.5rem;
  
  @media (min-width: 768px) {
    width: 30vw;
  }
}

@utility animated-title {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 4.5rem;
  line-height: 0.8;
  text-transform: uppercase;
  color: white;
  
  @media (min-width: 640px) {
    padding-left: 8rem;
    padding-right: 8rem;
  }
  
  @media (min-width: 768px) {
    font-size: 6rem;
  }
}

@utility animated-word {
  font-family: "zentry";
  font-weight: 900;
  opacity: 0;
  transform: translate3d(10px, 51px, -60px) rotateY(60deg) rotateX(-40deg);
  transform-origin: 50% 50% -150px !important;
  will-change: opacity, transform;
  font-feature-settings: "ss01" on;
}

@utility bento-tilt_1 {
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.2);
  grid-column: span 2;
  overflow: hidden;
  border-radius: 0.375rem;
  transition: transform 0.3s ease-out;
}

@utility bento-tilt_2 {
  position: relative;
  grid-column: span 1;
  grid-row: span 1;
  overflow: hidden;
  border-radius: 0.375rem;
  transition: transform 0.3s ease-out;
}

@utility bento-title {
  text-transform: uppercase;
  font-weight: 900;
  font-family: "zentry";
  font-size: 2.25rem;
  line-height: 2.5rem;
  
  @media (min-width: 768px) {
    font-size: 3.75rem;
    line-height: 1;
  }
}

@utility story-img-container {
  position: relative;
  width: 100%;
  height: 90vh;
  filter: url("#flt_tag");
  
  @media (min-width: 768px) {
    height: 100dvh;
  }
}

@utility story-img-mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  clip-path: polygon(4% 0, 83% 21%, 100% 73%, 0% 100%);
  
  @media (min-width: 768px) {
    left: 20%;
    top: -10%;
    width: 80%;
    height: 80%;
  }
}

@utility story-img-content {
  position: absolute;
  width: 100%;
  height: 50dvh;
  opacity: 1;
  left: 2.5rem;
  top: 4rem;
  transform: translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0) scale(1);
  
  @media (min-width: 768px) {
    height: 100dvh;
    left: 0;
    top: 2.5rem;
  }
  
  @media (min-width: 1024px) {
    left: -300px;
    top: -100px;
  }
}

@utility gallery-img-container {
  width: 16rem;
  height: 16rem;
  overflow: hidden;
  background-color: #8b5cf6;
}

@utility gallery-img {
  width: 100%;
  height: 100%;
  background-size: cover;
}

@utility gallery-img-4 {
  border-radius: 0.5rem;
  
  @media (min-width: 640px) {
    width: 20rem;
    height: 20rem;
  }
  
  @media (min-width: 768px) {
    height: 24rem;
    width: 25rem;
  }
}

@utility sword-man-clip-path {
  clip-path: polygon(16% 0, 89% 15%, 75% 100%, 0 97%);
}

@utility contact-clip-path-1 {
  clip-path: polygon(25% 0%, 74% 0, 69% 64%, 34% 73%);
}

@utility contact-clip-path-2 {
  clip-path: polygon(29% 15%, 85% 30%, 50% 100%, 10% 64%);
}

.indicator-line {
  height: 0.25rem;
  width: 1px;
  border-radius: 9999px;
  background-color: white;
  transition: all 0.2s ease-in-out;
}

.indicator-line.active {
  animation: indicator-line 0.5s ease infinite;
  animation-delay: calc(var(--animation-order) * 0.1s);
}

@keyframes indicator-line {
  0% {
    height: 4px;
    transform: translateY(-0px);
  }
  50% {
    height: 16px;
    transform: translateY(-4px);
  }
  100% {
    height: 4px;
    transform: translateY(-0px);
  }
}

/* From Uiverse.io by G4b413l */
/* https://uiverse.io/G4b413l/tidy-walrus-92 */
.three-body {
  --uib-size: 35px;
  --uib-speed: 0.8s;
  --uib-color: #5d3fd3;
  position: relative;
  display: inline-block;
  height: var(--uib-size);
  width: var(--uib-size);
  animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
}

.three-body__dot {
  position: absolute;
  height: 100%;
  width: 30%;
}

.three-body__dot:after {
  content: "";
  position: absolute;
  height: 0%;
  width: 100%;
  padding-bottom: 100%;
  background-color: var(--uib-color);
  border-radius: 50%;
}

.three-body__dot:nth-child(1) {
  bottom: 5%;
  left: 0;
  transform: rotate(60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(1)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite ease-in-out;
  animation-delay: calc(var(--uib-speed) * -0.3);
}

.three-body__dot:nth-child(2) {
  bottom: 5%;
  right: 0;
  transform: rotate(-60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(2)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite calc(var(--uib-speed) * -0.15)
    ease-in-out;
}

.three-body__dot:nth-child(3) {
  bottom: -5%;
  left: 0;
  transform: translateX(116.666%);
}

.three-body__dot:nth-child(3)::after {
  top: 0;
  left: 0;
  animation: wobble2 var(--uib-speed) infinite ease-in-out;
}

@keyframes spin78236 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes wobble1 {
  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(-66%) scale(0.65);
    opacity: 0.8;
  }
}

@keyframes wobble2 {
  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(66%) scale(0.65);
    opacity: 0.8;
  }
}